<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Petemoss&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="images/fav.png"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/styles/style.css}">
</head>
<body>
<div class="main-container">
  <h1>Enter Your Delivery Address</h1>
  <br>
  <form action="/home">
    <button class="btn btn-primary btn-lg m-2">Home</button>
  </form>
  <form action="/menu">
    <button class="btn btn-primary m-2">Go to Menu</button>
  </form>

  <form th:action="@{/postForm}" th:object="${userForm}" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input th:field="*{email}" type="email" class="form-control" id="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input th:field="*{name}" type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">Address</label>
      <input th:field="*{address}" type="text" class="form-control" id="address">
    </div>
    <div class="mb-3">
      <label for="tel" class="form-label">Phone Number</label>
      <input th:field="*{tel}" type="tel" class="form-control" id="tel">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <form action="/basket">
    <button class="btn btn-outline-success btn-lg m-2">Go Back</button>
  </form>


  <br><br><br><br><br><br><br><br><br>
  <form action="/info">
    <button class="btn btn-outline-info btn-lg m-2">Go to the Info Box</button>
  </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</html>